/** @format */

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
header {
  margin-bottom: 20px;
  background-color: #2545be;
  color: white;
  padding: 20px;
  display: flex;
  box-shadow: 0 0 5px grey;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
}
footer button {
  border: 2px solid #da2328;
  font-size: 16px;
  background-color: white;
  color: #da2328;
  padding: 10px;
}
main {
  display: flex;
  justify-content: space-evenly;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
.form input,
.form button {
  font-size: 32px;
  text-align: center;
  border: none;
}
.form input {
  background-color: #fff;
}
.form button {
  background-color: #da2328;
  color: white;
}
ul {
  list-style: none;
  font-size: 32px;
}
li {
  color: grey;
}
button:hover {
  cursor: pointer;
}

.highestBid {
  color: #da2328;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  body {
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .inputs {
    padding: 0;
  }
}
